@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cream text-secondary font-sans antialiased;
  background-image: radial-gradient(#E5E7EB 1px, transparent 1px);
  background-size: 20px 20px; /* Subtle dot pattern */
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Hide Scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Text Selection Color */
::selection {
  @apply bg-primary text-white;
}